.playbutton {
  border-radius: 4px;
  --playbtn-color: var(--darker);
  background-color: var(--playbtn-color);
  display: flex;
  padding: 1rem;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
}
.playbutton.primary {
  --playbtn-color: var(--darkprimary);
}
.playbutton .arrow {
  background-color: var(--playbtn-color);
  box-shadow: 0 4px 16px var(--playbtn-color);
  border-radius: 50%;
  position: absolute !important;
  right: 1rem;
  height: calc(100% - 2rem);
  font-size: 2.5rem;
  top: 1rem;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
}
.playbutton:hover {
  transform: translateY(-0.075rem);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.playbutton:hover .arrow {
  opacity: 1;
}
.playbutton:active {
  transform: translateY(-0.025rem);
}
.playbutton {
  cursor: pointer;
}
.playbutton .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.playbutton .icon span {
  font-size: 2.5rem;
}
.playbutton .content {
  flex-basis: 100%;
  flex-shrink: 1;
}
.playbutton .content * {
  text-align: left;
  display: block;
  clear: both;
}
.playbutton .content p {
  margin-top: 0.25rem;
  opacity: 0.7;
}
