.gamepage {
  display: flex;
}
.gamepage > * {
  display: block;
  height: calc(var(--fullheight) - 0.75rem);
  max-height: var(--maxfullheight);
  float: left;
  flex-shrink: 0;
}
.gamepage > *:not(:last-child) {
  margin-right: 0.75rem;
}
.gamepage .side-section {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
}
.gamepage .side-section .panel {
  flex-basis: 100%;
  flex-shrink: 1;
}
.gamepage .side-section .panel:not(:last-child) {
  margin-bottom: 0.75rem;
}
.gamepage > .main {
  flex-basis: 100%;
  flex-shrink: 1;
  background-color: var(--darkprimary);
}
.gamepage .side-panel {
  padding: 1.35rem 0.75rem;
  padding-top: 0;
  position: relative;
}
.gamepage .side-panel .title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.025rem;
  line-height: 1.5;
  text-align: center;
  font-size: 1.35rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: var(--darker);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.gamepage .newgame-section {
  flex-basis: 20%;
}
.gamepage .guessteam {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gamepage .guessteam .teams {
  overflow-y: auto;
  flex: 1 1 100%;
}
.gamepage .guessteam .teams::-webkit-scrollbar {
  width: 5px;
}
.gamepage .guessteam .teams::-webkit-scrollbar-track {
  background: var(--dark);
}
.gamepage .guessteam .teams::-webkit-scrollbar-thumb {
  background: var(--lightdark);
}
@keyframes goDark {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}
.gamepage .guessteam.doneguessing .teams {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: goDark;
}
.gamepage .guessteam .bottom-buttons {
  margin-top: 0.75rem;
}
.gamepage .guessteam .bottom-buttons > * {
  transform: scale(0.9);
}
.gamepage .guessteam .bottom-buttons > *:not(:last-child) {
  margin-bottom: 0.5rem;
}
.gamepage .guessteam.doneguessing .newchallenge {
  display: block;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: appear;
}
.gamepage .guessteam .button {
  width: 100%;
  background-color: var(--dark);
  border-radius: 3px;
  --inner-height: 2.5rem;
  user-select: none;
}
.gamepage .guessteam .button.wrong {
  pointer-events: none;
}
.gamepage .guessteam .button.active:before {
  transform: scale(1);
}
.gamepage .guessteam .button.wrong:before {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: shakeX;
}
.gamepage .guessteam.doneguessing .button {
  cursor: default;
  pointer-events: none;
}
.gamepage .main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
}
.gamepage .main > .top {
  flex: 1 1 auto;
  z-index: 9999;
  padding: 1rem;
  zoom: 90%;
  overflow: hidden;
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0)); */
}
.gamepage .main > .top.show-answer > .header,
.gamepage .main > .top.hide-answer > .left,
.gamepage .main > .top.hide-answer > .right {
  display: none;
}
.gamepage .main > .top > * {
  display: block;
  float: left;
}
.gamepage .main > .top > .header {
  width: 100%;
  font-size: 100%;
}
.gamepage .main > .top > .header,
.gamepage .main > .top > .header .box {
  text-align: center;
}
.gamepage .main > .top > .header .box {
  display: inline-block;
}
.gamepage .main > .top > .header h1 {
  margin-bottom: 0.5rem;
}
.gamepage .main > .top > .right {
  float: right;
}
.gamepage .main > .top > .right {
  text-align: right;
  font-size: 0.825rem;
  float: right;
  width: auto;
  line-height: 1.65;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.gamepage .main > .top .box {
  padding: 0.5rem 0.75rem;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
  border-radius: 4px;
}
.gamepage .main > .top .logo-container {
  text-align: center;
}
.gamepage .main > .top .logo-container .stars {
  display: inline-block;
  margin-top: 0.5rem;
}
.gamepage .main > .top .logo-container .stars svg {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 0.1rem;
  fill: var(--warning);
}
.gamepage .main > .top .logo {
  min-height: 2.5rem;
  width: auto;
  display: inline-block;
  zoom: 85%;
}
.gamepage .main > .top .logo > * {
  vertical-align: top;
  display: inline-block;
}
.gamepage .main > .top .logo h1 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-left: 0.75rem;
  margin-right: 0.5rem;
  color: #fff;
  letter-spacing: -0.03rem;
}
.gamepage .main > .top .logo img {
  height: 2.5rem;
  width: 2.5rem;
}
.gamepage .main .formation {
  width: 100%;
  flex: 1 1 100%;
  position: relative;
}
.gamepage .main .formation .player {
  text-align: center;
  width: 18%;
  margin-left: -9%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.gamepage .main .formation .player > * {
  display: block;
  float: left;
  width: 100%;
  clear: both;
}
.gamepage .main .formation .player img {
  filter: drop-shadow(0 2px 4px #00000080);
  position: relative;
  width: 65%;
  margin: 0 auto;

  backface-visibility: hidden;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-duration: 0.35s;
  animation-name: bounce-appear;
}
.gamepage .main .formation .player.show-flag img.player,
.gamepage .main .formation .player.show-player img.flag {
  display: none;
}
.gamepage .main .formation .player img.flag {
  width: 85%;
  height: auto;
  margin-bottom: -20%;
}
.gamepage .main .formation .player.show-flag p {
  display: none;
  font-size: 0.65rem;
}
.gamepage .main .formation .player p {
  line-height: normal;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  width: 100%;
  transform: perspective(100px) rotateX(15deg);
  font-size: 0.85rem;
  line-height: 1.5;
  position: relative;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-duration: 0.35s;
  animation-name: bounce-appear-player;
  backface-visibility: hidden;
}
.gamepage .main .formation .player p span {
  padding: 0.25rem;
  display: block;
}
@keyframes bounce-appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  90% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes bounce-appear-player {
  0% {
    transform: perspective(100px) rotateX(15deg) scale(0);
    opacity: 0;
  }
  90% {
    transform: perspective(100px) rotateX(15deg) scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: perspective(100px) rotateX(15deg) scale(1);
    opacity: 1;
  }
}

.gamepage .main .pitch {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  --line-color: rgba(255, 255, 255, 0.5);
  --line-size: 0.15rem;
}
.gamepage .main .pitch * {
  position: absolute;
}
.gamepage .main .pitch .midline {
  border-top: var(--line-size) solid var(--line-color);
  top: 50%;
  left: 0;
  width: 100%;
}
.gamepage .main .pitch .circle {
  border-radius: 50%;
  border: var(--line-size) solid var(--line-color);
}

.gamepage .main .pitch .circle.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
}
.gamepage .main .pitch .circle.dot {
  border: none;
  height: 0.5rem;
  width: 0.5rem;
  transform: translate(-50%, -50%);
  background-color: var(--line-color);
}

.gamepage .main .pitch .gk.box {
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 7.5rem;
  border: var(--line-size) solid var(--line-color);
  border-top: none;
}
.gamepage .main .pitch .gk.box.top {
  top: 0;
}
.gamepage .main .pitch .gk.box.bottom {
  bottom: 0;
  transform: translateX(-50%) rotateX(180deg);
}

.gamepage .main .pitch .gk.box.small {
  height: 3.5rem;
  width: 7.5rem;
}
.gamepage .main .pitch .gk.dot {
  left: 50%;
}
.gamepage .main .pitch .gk.dot.top {
  top: 5.25rem;
}
.gamepage .main .pitch .gk.dot.bottom {
  bottom: 5.25rem;
}
.gamepage .main .pitch .line {
  width: 100%;
}
.gamepage .main .pitch .line.odd {
  background-color: var(--primary);
}
.gamepage .main .pitch .line.even {
  background-color: var(--slightlydarkprimary);
}
.gamepage .main .pitch .overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.gamepage .extras-section > * {
  flex: 0 1 auto !important;
}
.gamepage .extras-section .stats {
  flex: 1 1 100% !important;
}
.gamepage .extras-section button {
  width: 100%;
  background-color: var(--dark);
  border-radius: 3px;
  --inner-height: 2.5rem;
  user-select: none;
}
.gamepage .extras-section button span {
  font-weight: normal;
}
.gamepage .extras-section button.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.gamepage .extras-section button.disabled span {
  text-decoration: line-through;
}
