.gamepage {
  display: flex;
}
.gamepage > * {
  display: block;
  height: calc(var(--fullheight) - 0.75rem);
  max-height: var(--maxfullheight);
  float: left;
  flex-shrink: 0;
}
.gamepage > *:not(:last-child) {
  margin-right: 0.75rem;
}
.gamepage .side-section {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
}
.gamepage .side-section .panel {
  flex-basis: 100%;
  flex-shrink: 1;
}
.gamepage .side-section .panel:not(:last-child) {
  margin-bottom: 0.75rem;
}
.gamepage > .main {
  flex-basis: 100%;
  flex-shrink: 1;
  background-color: var(--darkprimary);
}
.gamepage .side-panel {
  padding: 1rem 0.75rem;
  padding-top: 0;
  position: relative;
}
.gamepage .side-panel .title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.025rem;
  line-height: 1.5;
  text-align: center;
  font-size: 1.35rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: var(--darker);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.gamepage .newchallenge {
  width: calc(100%);
  transform: scale(0.9);
  position: absolute;
  bottom: 0.75rem;
  left: 0;
  border-radius: 4px;
  background-color: var(--darkprimary);
  color: var(--light);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  font-size: 1.15rem;
  line-height: 1.35;
  padding: 0.5rem;
  transition: background-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.gamepage .newchallenge:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--primary);
  box-shadow: none;
}
.gamepage .newchallenge:active {
  background-color: var(--darkprimary);
}
.gamepage .newchallenge.disabled {
  opacity: 0.75;
  cursor: default;
}
.gamepage .newgame-section {
  flex-basis: 20%;
}
.gamepage .guessteam {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gamepage .guessteam .teams {
  overflow-y: auto;
}
@keyframes goDark {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}
.gamepage .guessteam.doneguessing .teams {
  animation-delay: 0.15s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: goDark;
}
.gamepage .guessteam .newchallenge {
  bottom: 0.75rem;
  width: 100%;
  transform: scale(0.9);
  display: none;
  margin-top: 1rem;
  position: sticky;
}
.gamepage .guessteam.doneguessing .newchallenge {
  display: block;
  animation-delay: 0.15s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: appear;
}
.gamepage .guessteam .button {
  width: 100%;
  background-color: var(--dark);
  border-radius: 3px;
  --inner-height: 2.5rem;
  user-select: none;
}
.gamepage .guessteam .button.wrong {
  pointer-events: none;
}
.gamepage .guessteam .button.active:before {
  transform: scale(1);
}
.gamepage .guessteam .button.wrong:before {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: shakeX;
}
.gamepage .hints {
  display: none;
}
.gamepage .guessteam.doneguessing .button {
  cursor: default;
  pointer-events: none;
}
.gamepage .main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.gamepage .main > .top {
  display: none;
}
.gamepage .main .formation {
  width: 100%;
  flex-basis: 100%;
  flex-shrink: 1;
}
.gamepage .main .formation .player {
  text-align: center;
  width: 15%;
  margin-left: -7.5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.gamepage .main .formation .player > * {
  display: block;
  float: left;
  width: 100%;
  clear: both;
}
.gamepage .main .formation .player img {
  filter: drop-shadow(0 2px 4px #00000080);
  position: relative;
  width: 65%;
  margin: 0 auto;

  backface-visibility: hidden;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-duration: 0.35s;
  animation-name: bounce-appear;
}
.gamepage .main .formation .player.show-flag img.player,
.gamepage .main .formation .player.show-player img.flag {
  display: none;
}
.gamepage .main .formation .player img.flag {
  width: 95%;
  height: auto;
  margin-bottom: -20%;
}
.gamepage .main .formation .player.show-flag p {
  display: none;
  font-size: 0.65rem;
}
.gamepage .main .formation .player p {
  line-height: normal;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  width: 100%;
  transform: perspective(100px) rotateX(15deg);
  font-size: 0.85rem;
  line-height: 1.5;
  position: relative;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-duration: 0.35s;
  animation-name: bounce-appear-player;
  backface-visibility: hidden;
}
.gamepage .main .formation .player p span {
  padding: 0.25rem;
  display: block;
}
@keyframes bounce-appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  90% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes bounce-appear-player {
  0% {
    transform: perspective(100px) rotateX(15deg) scale(0);
    opacity: 0;
  }
  90% {
    transform: perspective(100px) rotateX(15deg) scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: perspective(100px) rotateX(15deg) scale(1);
    opacity: 1;
  }
}

.gamepage .main .pitch {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  --line-color: rgba(255, 255, 255, 0.5);
  --line-size: 0.15rem;
}
.gamepage .main .pitch * {
  position: absolute;
}
.gamepage .main .pitch .midline {
  border-top: var(--line-size) solid var(--line-color);
  top: 50%;
  left: 0;
  width: 100%;
}
.gamepage .main .pitch .circle {
  border-radius: 50%;
  border: var(--line-size) solid var(--line-color);
}

.gamepage .main .pitch .circle.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
}
.gamepage .main .pitch .circle.dot {
  border: none;
  height: 0.5rem;
  width: 0.5rem;
  transform: translate(-50%, -50%);
  background-color: var(--line-color);
}

.gamepage .main .pitch .gk.box {
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 7.5rem;
  border: var(--line-size) solid var(--line-color);
  border-top: none;
}
.gamepage .main .pitch .gk.box.top {
  top: 0;
}
.gamepage .main .pitch .gk.box.bottom {
  bottom: 0;
  transform: translateX(-50%) rotateX(180deg);
}

.gamepage .main .pitch .gk.box.small {
  height: 3.5rem;
  width: 7.5rem;
}
.gamepage .main .pitch .gk.dot {
  left: 50%;
}
.gamepage .main .pitch .gk.dot.top {
  top: 5.25rem;
}
.gamepage .main .pitch .gk.dot.bottom {
  bottom: 5.25rem;
}
.gamepage .main .pitch .line {
  width: 100%;
}
.gamepage .main .pitch .line.odd {
  background-color: var(--primary);
}
.gamepage .main .pitch .line.even {
  background-color: var(--slightlydarkprimary);
}
.gamepage .main .pitch .overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
