.gamepage {
  display: flex;
}
.gamepage > * {
  display: block;
  height: calc(var(--fullheight) - 0.75rem);
  float: left;
  flex-shrink: 0;
}
.gamepage > *:not(:last-child) {
  margin-right: 0.75rem;
}
.gamepage .side-section {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
}
.gamepage .side-section .panel {
  flex-basis: 100%;
  flex-shrink: 1;
}
.gamepage .side-section .panel:not(:last-child) {
  margin-bottom: 0.75rem;
}
.gamepage > .main {
  flex-basis: 100%;
  flex-shrink: 1;
  background-color: var(--darkprimary);
  opacity: 0.75;
}
.gamepage .side-panel {
  padding: 1rem 0.75rem;
  padding-top: 0;
  position: relative;
}
.gamepage .side-panel .title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.025rem;
  line-height: 1.5;
  text-align: center;
  font-size: 1.35rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: var(--darker);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.gamepage .newchallenge {
  width: calc(100%);
  transform: scale(0.9);
  position: absolute;
  bottom: 0.75rem;
  left: 0;
  border-radius: 4px;
  background-color: var(--darkprimary);
  color: var(--light);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  font-size: 1.15rem;
  line-height: 1.35;
  padding: 0.5rem;
  transition: background-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.gamepage .newchallenge:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--primary);
  box-shadow: none;
}
.gamepage .newchallenge:active {
  background-color: var(--darkprimary);
}
.gamepage .newchallenge.disabled {
  opacity: 0.75;
  cursor: default;
}
.gamepage .newgame-section {
  flex-basis: 20%;
}
.gamepage .guessteam {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gamepage .guessteam .teams {
  overflow-y: auto;
}
@keyframes goDark {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}
.gamepage .guessteam.doneguessing .teams {
  animation-delay: 0.2s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: goDark;
}
.gamepage .guessteam .newchallenge {
  bottom: 0.75rem;
  width: 100%;
  transform: scale(0.9);
  display: none;
  margin-top: 1rem;
  position: sticky;
}
.gamepage .guessteam.doneguessing .newchallenge {
  display: block;
  animation-delay: 0.2s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: appear;
}
.gamepage .guessteam .button {
  width: 100%;
  background-color: var(--dark);
  border-radius: 3px;
  --inner-height: 2.5rem;
  user-select: none;
}
.gamepage .guessteam .button.wrong {
  pointer-events: none;
}
.gamepage .guessteam .button.active:before {
  transform: scale(1);
}
.gamepage .guessteam .button.wrong:before {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: shakeX;
}
.gamepage .hints {
  display: none;
}
.gamepage .guessteam.doneguessing .button {
  cursor: default;
  pointer-events: none;
}
.gamepage .main {
  position: relative;
}
.gamepage .main .formation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gamepage .main .formation .player {
  position: absolute;
  max-width: 10rem;
  height: auto;
  position: absolute;
  transform: translate(-50%, 25%);
  text-align: center;

  font-size: 1rem;
  background: #000;
  color: #fff;
  padding: 0.75rem;
  border-radius: 4px;
  margin-top: -0.25rem;
}
