.secondarybutton {
  height: 1.7rem;
  cursor: pointer;
  padding: 0;
  position: relative;
  z-index: 1;
  vertical-align: top;
  opacity: 0.8;
  transition: opacity 0.2s, border-color 0.2s, color 0.2s;
  border-bottom: 1px solid transparent;
  user-select: none;
}
.secondarybutton:hover {
  border-color: var(--light);
}
.secondarybutton:hover,
.secondarybutton.active,
a.active > .secondarybutton {
  opacity: 1;
}
.secondarybutton.active,
a.active > .secondarybutton {
  border-color: var(--primary);
  color: var(--primary);
}
.secondarybutton.active span,
a.active > .secondarybutton span {
  font-weight: 600;
}
.secondarybutton.with-margin {
  margin-left: 0.75rem;
}
.secondarybutton span {
  line-height: 1.7rem;
  display: inline-block;
  vertical-align: top;
  font-size: 0.945rem;
  font-weight: 500;
}
