.bynationalitypage-selectleague {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bynationalitypage-selectleague > .inner {
  overflow: hidden;
  position: relative;
  padding: 3rem 0;
}
@media only screen and (max-width: 750px) {
  .bynationalitypage-selectleague > .inner {
    padding: 0;
    padding-bottom: 1rem;
  }
}
.bynationalitypage-selectleague .meta .title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  text-align: center;
  font-size: 2rem;
  color: var(--light);
  z-index: 9999;
}

.bynationalitypage-selectleague .meta .description {
  text-align: center;
  margin: 0rem 0 1.75rem 0;
  opacity: 0.75;
}

.bynationalitypage-selectleague .leagues {
  padding: 0 2rem;
}
.bynationalitypage-selectleague .leagues > * {
  --margin: 1.75rem;
  width: calc((100% - (var(--margin) * 2)) / 3);
  margin-bottom: var(--margin);
  float: left;
}

@media only screen and (min-width: 1201px) {
  .bynationalitypage-selectleague .leagues > *:not(:nth-child(3n)) {
    margin-right: var(--margin);
  }
}
@media only screen and (max-width: 1200px) {
  .bynationalitypage-selectleague .leagues > * {
    width: calc((100% - var(--margin)) / 2);
  }
  .bynationalitypage-selectleague .leagues > *:not(:nth-child(2n)) {
    margin-right: var(--margin);
  }
}

.bynationalitypage-selectleague .leagues.list-view > * {
  margin-right: 0 !important;
}
.bynationalitypage-selectleague .leagues.list-view > * {
  width: 100%;
  margin-bottom: 0.675rem;
}
@media only screen and (max-width: 900px) {
  .bynationalitypage-selectleague .leagues > * {
    margin-right: 0 !important;
  }
  .bynationalitypage-selectleague .leagues > * {
    width: 100%;
    margin-bottom: 0.675rem;
  }
  .bynationalitypage-selectleague .title {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 599px) {
  .bynationalitypage-selectleague .leagues {
    padding: 0 0.5rem;
  }
}
