.share-box-component {
  flex: 1 1 100%;
  background-color: var(--darkdark);
  margin: 1.25rem 0;
  border-radius: 4px;
}
.share-box-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1.5rem;
  padding-bottom: 1.25rem;
}
.share-box-component > h1 {
  margin-top: 0.5rem;
}

.share-box-component > .section {
  width: 100%;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.share-box-component > .section .input-container {
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 0.75rem;
  --copy-button-size: 8rem;
}
.share-box-component > .section .input-container > * {
  height: 100%;
  display: block;
  float: left;
}
.share-box-component > .section .input-container input {
  font-size: 1rem;
  background-color: var(--darker);
  padding: 0 1rem;
  user-select: all;
  transition: background-color 0.2s;
  width: calc(100% - var(--copy-button-size));
}
.share-box-component > .section .input-container input:not(:focus) {
  text-overflow: ellipsis;
}
.share-box-component > .section .input-container button {
  padding: 0 0.75rem;
  flex: 0 0 var(--copy-button-size);
  background-color: var(--darkprimary);
  font-weight: 500;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.2s, opacity 0.2s;
  width: var(--copy-button-size);
}
.share-box-component > .section .input-container button.copied {
  touch-action: none;
  pointer-events: none;
  opacity: 0.7;
}
.share-box-component > .section .input-container button:hover {
  background-color: var(--primary);
}
.share-box-component > .section .input-container button:active {
  background-color: var(--darkprimary);
}
.share-box-component > .section .input-container button > * {
  display: inline-block;
  vertical-align: middle;
}
.share-box-component > .section .input-container button i {
  font-size: 1.1rem;
  margin-right: 0.25rem;
}
.share-box-component > .section .grid > button {
  cursor: pointer;
  --margin: 0.5rem;
  --height: 2.2rem;
  width: calc((100% - var(--margin) * 2) / 3);
  height: var(--height);
  background-color: var(--bg);
  border-radius: 3px;
  padding: 0;
  text-align: left;
  overflow: hidden;
  transition: filter 0.2s;
}
.share-box-component > .section .grid > button:not(:nth-child(3n)) {
  margin-right: var(--margin);
}
.share-box-component > .section .grid > button:not(:nth-last-child(-n + 3)) {
  margin-bottom: var(--margin);
}
.share-box-component > .section .grid > button > * {
  display: block;
  float: left;
}
.share-box-component > .section .grid > button > i:first-child {
  font-size: 1.25rem;
  width: var(--height);
  height: var(--height);
  line-height: var(--height);
  text-align: center;
  background-color: var(--bg);
  filter: brightness(90%);
}
.share-box-component > .section .grid > button > p {
  font-size: 1rem;
  height: var(--height);
  line-height: var(--height);
  width: calc(100% - var(--height));
  padding-left: 0.5rem;
}
@media only screen and (max-width: 1150px) {
  .share-box-component > .section .grid > button > i:first-child {
    display: none;
  }
  .share-box-component > .section .grid > button > p {
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .share-box-component > .section .grid > button > i:first-child {
    display: block;
    width: 100%;
  }
  .share-box-component > .section .grid > button > p {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .share-box-component > .section .input-container button span {
    display: none;
  }
  .share-box-component > .section .input-container button i {
    margin-right: 0 !important;
    transform: translateY(-1px);
  }
  .share-box-component > .section .input-container {
    --copy-button-size: 3rem;
  }
}
@media only screen and (max-width: 800px) {
  .share-box-component {
    margin-top: 0 !important;
    padding: 0.75rem !important;
  }
}
.share-box-component > .section .grid > button > p i {
  line-height: 2.3rem;
  float: right;
  padding-right: 0.5rem;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.share-box-component > .section .grid > button:hover {
  filter: brightness(110%);
}
.share-box-component > .section .grid > button:active {
  filter: brightness(95%);
}
.share-box-component > .section .grid > button:hover > p i {
  opacity: 1;
}
