.formation-component {
  width: 100%;
  flex: 1 1 100%;
  position: relative;
}
.formation-component .player {
  text-align: center;
  width: 18%;
  margin-left: -9%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.formation-component .player > * {
  display: block;
  float: left;
  width: 100%;
  clear: both;
}
.formation-component .player img {
  filter: drop-shadow(0 2px 4px #00000080);
  position: relative;
  width: 65%;
  margin: 0 auto;

  backface-visibility: hidden;
  animation-fill-mode: both;
  animation-timing-function: linear;
  /* animation-duration: 0.35s; */
  animation-name: bounce-appear;
}
.formation-component .player img.alternate-team {
  width: 100%;
  transform: translateY(1.2rem);
}

.formation-component .player p {
  line-height: normal;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  width: 100%;
  font-size: 0.85rem;
  line-height: 1.5;
  position: relative;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  /* animation-duration: 0.35s; */
  animation-name: bounce-appear-player;
  backface-visibility: hidden;
}
.formation-component .player p span {
  padding: 0.25rem;
  display: block;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
@keyframes bounce-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce-appear-player {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.formation-component .player.show-answer .game,
.formation-component .player.show-game .answer {
  display: none;
}

/* .formation-component .player .game .image {
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  height: 4rem;
  background-image: var(--image);
  background-size: auto 210%;
  background-position: center;
  border-radius: 4px;
} */
.formation-component .player h3 {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  width: 90%;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.formation-component .player h3 > * {
  display: block;
}
.formation-component .player h3 strong {
  font-weight: 300;
  letter-spacing: 0.05rem;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}
.formation-component .player h3 span {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}
@media only screen and (max-width: 600px) {
  .formation-component .player h3 {
    padding: 0.5rem 0.1rem;
  }
}
