/* outer */
.contentful-page-outer {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  position: relative;
}
.contentful-page-outer:before {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100% - 5rem);
  clip-path: polygon(0 8rem, 100% 0, 100% 100%, 0 100%);
  opacity: 1;
  bottom: 0;
  left: 0;
  background-color: var(--darker);
  z-index: 0;
}

/* inner */
.contentful-page-inner {
  position: relative;
  background-color: var(--dark);
  width: 700px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

@media only screen and (max-width: 750px) {
  .contentful-page-outer {
    padding: 0;
    border-bottom: 1px solid var(--lightdark);
  }
  .contentful-page-inner {
    width: 100%;
    box-shadow: none;
    background-color: var(--darker);
  }
}

.contentful-page-inner > .content {
  margin-top: 2.5rem;
}
.contentful-page-inner > .content > * {
  line-height: 1.65;
}
.contentful-page-inner > .content > *:not(:last-child):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  margin-bottom: 1.65rem;
}
.contentful-page-inner > .content > h1:not(:last-child),
.contentful-page-inner > .content > h2:not(:last-child),
.contentful-page-inner > .content > h3:not(:last-child),
.contentful-page-inner > .content > h4:not(:last-child),
.contentful-page-inner > .content > h5:not(:last-child),
.contentful-page-inner > .content > h6:not(:last-child) {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.contentful-page-inner > .content > ul {
  padding-left: 2.5rem;
}

.contentful-page-inner > .content a:not(.styled-link) {
  color: var(--primary);
  border-bottom: 1px solid var(--primarytransparent);
  text-decoration: none;
  cursor: pointer;
  transition: border-color 0.2s, filter 0.2s;
  font-weight: 500;
}
.contentful-page-inner > .content a:not(.styled-link):hover {
  filter: brightness(120%);
  border-color: var(--primary);
}
