.pitch-top-component {
  flex: 1 1 auto;
  z-index: 9999;
  padding: 1rem;
  zoom: 90%;
  overflow: hidden;
}

.pitch-top-component.show-answer > .header,
.pitch-top-component.hide-answer > .left,
.pitch-top-component.hide-answer > .right {
  display: none;
}
.pitch-top-component > * {
  display: block;
  float: left;
}
.pitch-top-component > .header {
  width: 100%;
  font-size: 100%;
}
.pitch-top-component > .header,
.pitch-top-component > .header .box {
  text-align: center;
}
.pitch-top-component > .header .box {
  display: inline-block;
}
.pitch-top-component > .header h1 {
  margin-bottom: 0.5rem;
}
.pitch-top-component > .right {
  float: right;
}
.pitch-top-component > .right {
  text-align: right;
  font-size: 0.825rem;
  float: right;
  width: auto;
  line-height: 1.5;
}
.pitch-top-component .box {
  padding: 0.5rem;
  background-color: var(--darkerprimary);
  border-radius: 4px;
}
.pitch-top-component .box > h1 {
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: 0;
}
.pitch-top-component .box > p {
  font-size: 90%;
}
.pitch-top-component .logo-container {
  text-align: center;
}
.pitch-top-component .logo-container .stars {
  display: inline-block;
  margin-top: 0.5rem;
}
.pitch-top-component .logo-container .stars svg {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 0.1rem;
  fill: var(--warning);
}
.pitch-top-component .logo {
  min-height: 2.5rem;
  width: auto;
  display: inline-block;
  zoom: 85%;
}
.pitch-top-component .logo > * {
  vertical-align: top;
  display: inline-block;
}
.pitch-top-component .logo h1 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-left: 0.75rem;
  margin-right: 0.5rem;
  color: #fff;
  letter-spacing: -0.03rem;
}
.pitch-top-component .logo img {
  height: 2.5rem;
  width: 2.5rem;
}

@media only screen and (max-width: 950px) {
  .pitch-top-component {
    zoom: 85%;
  }
  .pitch-top-component .instructions .no-display-mobile {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .pitch-top-component .left,
  .pitch-top-component .logo-container {
    width: 100%;
  }
  .pitch-top-component .right {
    display: none;
  }
  .pitch-top-component .left {
    display: flex;
  }
  .pitch-top-component .left h1 {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  .pitch-top-component .stars {
    display: none !important;
  }
}
