.email-box .box {
  border-radius: 6px;
  background-color: var(--dark);
  margin-top: 0.5rem;
  padding: 1.25rem;
}
.email-box .box .input-container {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
}
.email-box .box .input-container > * {
  margin: 0 !important;
  font-size: 1.15rem;
  height: 3rem;
}
.email-box .box .input-container input {
  flex: 1 1 100%;
  background-color: var(--darkdark);
  padding: 0 1rem;
}
.email-box .box .input-container input::placeholder {
  color: var(--lighterdark-3);
}
.email-box .box .input-container button {
  flex: 0 0 10rem;
  font-weight: 500;
  background-color: var(--slightlydarkprimary);
  cursor: pointer;
  transition: background-color 0.2s;
}
.email-box .box .input-container button i {
  margin-left: 0.2rem;
}

.email-box .box .input-container button:hover {
  background-color: var(--primary);
}
.email-box .box .input-container button:active {
  background-color: var(--darkprimary);
}

@media only screen and (max-width: 750px) {
  .email-box .box .input-container {
    flex-direction: column;
    height: auto;
  }
  .email-box .box .input-container > * {
    flex: 1 1 3rem !important;
    text-align: center;
  }
}
