.gamepage .extras-section {
  flex-basis: 22%;
  overflow-y: auto;
}
.gamepage .extras-section > * {
  flex: 0 1 auto !important;
}
.gamepage .extras-section .stats {
  flex: 1 1 100% !important;
}
.gamepage .extras-section [role='button'] {
  width: 100%;
  background-color: var(--dark);
  border-radius: 3px;
  --inner-height: 2.5rem;
  user-select: none;
}
.gamepage .extras-section [role='button'] span {
  font-weight: normal;
  font-size: 0.95rem;
}
.gamepage .extras-section [role='button'].disabled,
.gamepage .guessteam .button.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.gamepage .extras-section [role='button'].disabled span,
.gamepage .guessteam .button.disabled span {
  text-decoration: line-through;
}

.gamepage .extras-section .dailychallenge {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  zoom: 85%;
  flex-shrink: 0 !important;
}
.gamepage .extras-section .dailychallenge > .title {
  padding: 0;
  text-align: left;
  padding-left: 5%;
  flex: 0 1 calc(100% - 5rem);
}
.gamepage .extras-section .title-number {
  display: block;
  overflow: hidden;
  border-radius: 6px;
  width: 5rem;
  max-width: 100%;
  background-color: var(--dark);
}
.gamepage .extras-section .title-number h1 {
  font-size: 1.15rem;
  text-align: center;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  line-height: 1.5;
  background-color: var(--danger);
}
.gamepage .extras-section .title-number p {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
}

.gamepage .extras-section .rating {
  flex-direction: column;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.gamepage .extras-section .rating .title-number {
  margin: 0 auto;
  width: 10rem;
}
.gamepage .extras-section .menu-btn {
  transform: scale(1);
  background-color: var(--darker) !important;
  margin-bottom: 0.75rem !important;
  flex-shrink: 0 !important;
}

.gamepage .extras-section .stats {
  display: flex;
  flex-direction: column;
}
.gamepage .extras-section .stats h1 {
  flex: 0 1 auto;
}

.gamepage .extras-section .stats .title-number {
  width: 100%;
  zoom: 75%;
  transform: scale(0.9);
  background-color: transparent;
}

.gamepage .extras-section .stats .title-number h1 {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: transparent;
  font-size: 1.1rem;
  line-height: 2;
  border: 1px solid #3b536d;
  /* background-color: var(--darkdark); */
}
.gamepage .extras-section .stats .title-number p {
  border: 1px solid #3b536d;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: none;
  /* background-color: var(--dark); */
}
.gamepage .extras-section .stats .title-number p span {
  display: inline-block;
  vertical-align: top;
  font-size: 1.2rem;
  opacity: 0.5;
  line-height: 3rem;
  text-transform: uppercase;
  font-weight: 600;
}
.gamepage .extras-section .stats .title-number:not(:last-child) {
  margin-bottom: 0;
}

.gamepage .extras-section .stats .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1 100%;
}

.gamepage .extras-section .stats .row {
  display: flex;
}
.gamepage .extras-section .stats .row > * {
  flex: 1 1 100%;
}
.gamepage .extras-section .stats .row > *:first-child {
  transform-origin: center right;
  margin-right: 0.75rem;
}
.gamepage .extras-section .stats .row > *:last-child {
  transform-origin: center left;
}
