.gamepage .tab-select {
  display: none;
  background-color: var(--darker);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  --tabselect-height: 2.2rem;
  height: var(--tabselect-height);
  flex-basis: var(--tabselect-height);
}
.gamepage .tab-select > .tab-select-row {
  height: var(--tabselect-height);
  display: flex;
  flex-shrink: 0;
}
.gamepage .tab-select > .tab-select-row > *:not(.bg) {
  flex: 0 1 100%;
  font-weight: 600;
  z-index: 1;
  opacity: 0.7;
  transition: opacity 0.25s ease-in-out;
  cursor: pointer;
}
.gamepage .tab-select > .tab-select-row .bg {
  position: absolute;
  transition: left 0.25s ease-in-out;
  --padding: 0.25rem;
  top: var(--padding);
  left: var(--padding);
  background-color: var(--primary);
  width: calc(33.333% - (var(--padding) * 2));
  height: calc(var(--tabselect-height) - (var(--padding) * 2));
  border-radius: 3px;
  z-index: 0;
}
.gamepage[activetab='guess-section'] > .tab-select > .tab-select-row > .bg {
  left: calc(33.333% + var(--padding));
}
.gamepage[activetab='misc-section'] > .tab-select > .tab-select-row > .bg {
  left: calc(66.666% + var(--padding));
}
.gamepage[activetab='main-section'] > .tab-select > .tab-select-row > .main-section,
.gamepage[activetab='guess-section'] > .tab-select > .tab-select-row > .guess-section,
.gamepage[activetab='misc-section'] > .tab-select > .tab-select-row > .misc-section {
  opacity: 1;
}

@media only screen and (max-width: 950px) {
  .gamepage {
    flex-direction: column;
    height: calc(var(--fullheight) - 1.5rem);
    padding-bottom: 0.75rem;
  }
  .gamepage > * {
    margin-right: 0 !important;
    height: calc(var(--fullheight) - 3rem);
  }
  .gamepage:not([activetab='main-section']) > .main-section,
  .gamepage:not([activetab='guess-section']) > .guess-section,
  .gamepage:not([activetab='misc-section']) > .misc-section {
    display: none;
  }

  .gamepage:not([activetab='main-section']) {
    height: auto;
  }
  .gamepage > .misc-section > * {
    flex-shrink: 1 !important;
    flex-grow: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0.75rem !important;
  }
  .gamepage > .misc-section > .menu-btn {
    margin-bottom: 0 !important;
  }

  .gamepage .tab-select {
    display: block;
    height: auto;
  }
  .gamepage > *:not(.tab-select) > *:first-child,
  .gamepage > *:not(.tab-select) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .gamepage > .misc-section {
    flex-direction: column-reverse;
  }
  .gamepage > .misc-section .dailychallenge {
    display: none;
  }

  .gamepage .main > .top {
    zoom: 80%;
  }
  .gamepage .main > .top > .header .box {
    font-size: 90%;
  }
  .gamepage .main > .top > .header .box p {
    font-size: 85%;
  }
}
