.gamepage .main > .top {
  flex: 1 1 auto;
  z-index: 9999;
  padding: 1rem;
  zoom: 90%;
  overflow: hidden;
}
.gamepage .main > .top.show-answer > .header,
.gamepage .main > .top.hide-answer > .left,
.gamepage .main > .top.hide-answer > .right {
  display: none;
}
.gamepage .main > .top > * {
  display: block;
  float: left;
}
.gamepage .main > .top > .header {
  width: 100%;
  font-size: 100%;
}
.gamepage .main > .top > .header,
.gamepage .main > .top > .header .box {
  text-align: center;
}
.gamepage .main > .top > .header .box {
  display: inline-block;
}
.gamepage .main > .top > .header h1 {
  margin-bottom: 0.5rem;
}
.gamepage .main > .top > .right {
  float: right;
}
.gamepage .main > .top > .right {
  text-align: right;
  font-size: 0.825rem;
  float: right;
  width: auto;
  line-height: 1.65;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.gamepage .main > .top .box {
  padding: 0.5rem 0.75rem;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
  border-radius: 4px;
}
.gamepage .main > .top .logo-container {
  text-align: center;
}
.gamepage .main > .top .logo-container .stars {
  display: inline-block;
  margin-top: 0.5rem;
}
.gamepage .main > .top .logo-container .stars svg {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 0.1rem;
  fill: var(--warning);
}
.gamepage .main > .top .logo {
  min-height: 2.5rem;
  width: auto;
  display: inline-block;
  zoom: 85%;
}
.gamepage .main > .top .logo > * {
  vertical-align: top;
  display: inline-block;
}
.gamepage .main > .top .logo h1 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-left: 0.75rem;
  margin-right: 0.5rem;
  color: #fff;
  letter-spacing: -0.03rem;
}
.gamepage .main > .top .logo img {
  height: 2.5rem;
  width: 2.5rem;
}
