.homepage {
  padding-bottom: 0.75rem;
  margin-top: calc(-1 * var(--nav-height));
}

.homepage .topsection {
  padding: 3rem 0;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.homepage .topsection-inner {
  display: flex;
  flex-direction: row;
}
.homepage * {
  position: relative;
}
.homepage .topsection .left,
.homepage .topsection .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
}
.homepage h1.main-header {
  font-size: 2.75rem;
  line-height: 1.3;
}
.homepage h1.main-header span {
  color: var(--primary);
}
.homepage p.main-description {
  margin-top: 0.5rem;
  font-size: 1.15rem;
  line-height: 1.75;
  opacity: 0.7;
}
.homepage .topsection .textsection .top {
  margin-bottom: 1.25rem;
}
.homepage .topsection .textsection .play {
  width: 100%;
  margin-bottom: 2.5rem;
  display: block;
}
.homepage .topsection .textsection .play .playbutton:nth-child(2n) {
  margin-left: 0;
}
.homepage .topsection .textsection .play .playbutton {
  width: 100%;
  clear: both;
  margin-bottom: 1rem;
}
.homepage .topsection .videosection {
  align-items: center;
  padding-left: calc(50% - 20rem);
}
.homepage .topsection .videosection .video-container {
  width: 100%;
}
.homepage .topsection .videosection video {
  display: block;
  float: right;
}
.homepage .topsection .videosection .play-pause {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  cursor: pointer;
  opacity: 0.75;
}
.homepage .topsection .videosection .play-pause:hover {
  opacity: 1;
}
.homepage .topsection .videosection .play-pause svg {
  fill: var(--light);
}
.homepage .topsection .videosection .video-cta {
  width: auto;
  min-width: 10rem;
  padding: 0.5rem 0.85rem;
  background-color: var(--primary);
  transition: background-color 0.2s;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0.75rem;
  zoom: 95%;
}
.homepage .topsection .videosection .video-cta span {
  display: block;
  float: left;
  width: auto;
}
.homepage .topsection .videosection .video-cta span.right {
  float: right;
  margin-left: 0.65rem;
  transition: transform 0.2s;
}
.homepage .topsection .videosection .video-cta:hover span.right {
  transform: translateX(0.15rem);
}
@media only screen and (max-width: 900px) {
  .homepage .topsection-inner {
    flex-direction: column;
    padding-top: 0;
  }
  .homepage .topsection .videosection {
    padding-right: 0%;
    padding-left: 0%;
    padding-top: 0.5rem;
  }
  .homepage .topsection .left,
  .homepage .topsection .right {
    width: 100%;
    height: auto;
  }
  .homepage .topsection .textsection .play {
    margin-bottom: 1rem;
  }
  .homepage .topsection .textsection .top h1 {
    font-size: 2.15rem;
    margin-top: 2rem;
  }
  .homepage .topsection .textsection .top p {
    line-height: 1.75;
    font-size: 1.1rem;
  }
}

.homepage .box-section {
  width: 100%;
  padding: 2.5rem;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
}

.homepage .box-section:not(.no-background) {
  background-color: var(--darker);
}
.homepage .box-section:not(.no-margin) {
  margin-bottom: 2rem;
}
.homepage .box-section.left-first {
  padding-right: 2.5rem;
}
.homepage .box-section.right-first {
  padding-left: 2.5rem;
}
.homepage .box-section > *:not(h1) {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homepage .box-section > .right {
  flex-basis: 100%;
}
.homepage .box-section > .right > h1,
.homepage .box-section > .right > p {
  zoom: 90%;
}
.homepage .box-section > .right > h1 {
  font-size: 2.35rem;
  margin-bottom: 0.5rem;
}
.homepage .box-section > .right button {
  width: 100%;
  margin-top: 1.1rem;
}
.homepage .box-section > .left {
  flex-basis: 50%;
  padding: 1.5rem;
  flex-shrink: 0;
}
.homepage .box-section.left-first > .left,
.homepage .box-section.right-first > .right {
  margin-right: 2rem;
}
.homepage .box-section > .left.club-logos .inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  grid-gap: 1.15rem;
}
.homepage .box-section > .left.club-logos .inner img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.35));
}
.homepage .box-section > .left.club-logos > .and-more {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -0.25rem;
  left: 0;
  font-size: 0.85rem;
  opacity: 0.5;
}

.homepage .box-section > .left.leaderboard {
  padding: 0;
  display: flex;
  flex-basis: 50%;
  padding-left: 3rem;
  opacity: 0.8;
}
.homepage .box-section > .left.leaderboard .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 100%;
  border-radius: 4px;
}
.homepage .box-section > .left.leaderboard .inner > .row {
  --size: 2.5rem;
  display: flex;
  flex-direction: row;
  flex: 0 0 var(--size);
  align-items: center;
}
.homepage .box-section > .left.leaderboard .inner > .row:not(:last-child) {
  margin-bottom: 0.7rem;
}
.homepage .box-section > .left.leaderboard .inner > .row .number {
  height: var(--size);
  width: var(--size);
  flex: 0 0 var(--size);
  line-height: var(--size);
  border-radius: 50%;
  background-color: var(--dark);
  text-align: center;
  font-weight: 600;
  margin-right: 0.5rem;
  font-size: 1.1rem;
  opacity: 0.7;
}
.homepage .box-section > .left.leaderboard .inner > .row .text {
  flex: 1 1 100%;
  background-color: var(--dark);
  height: 1rem;
  border-radius: 3px;
}
.homepage .box-section.column {
  flex-direction: column;
}

.homepage .box-section.column > h1 {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1rem;
}

.homepage .box-section.column.bottom .row {
  display: flex;
  flex-direction: row;
}
.homepage .box-section.column.bottom .row > * {
  flex: 1 1 50%;
}

.homepage .box-section.column.bottom .row > *:not(:last-child) {
  margin-right: 2rem;
}

.homepage .box-section.horizontal-list,
.homepage .box-section.grid-list,
.homepage .box-section.leagues-list {
  background-position: center center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/bg4.jpg');
  background-size: cover;
  border-radius: 0 !important;
}
.homepage .box-section.horizontal-list.less-padding {
  padding: 1rem 0;
}
.homepage .box-section.horizontal-list .inner {
  padding: 1.5rem;
  border-radius: 6px;
}
.homepage .box-section.horizontal-list .inner > .row {
  display: flex;
  flex-direction: row;
}
.homepage .box-section.horizontal-list .inner > .row > * {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  text-align: center;
  align-items: center;
}
.homepage .box-section.horizontal-list .inner > .row > * h1 {
  font-size: 2.5rem;
}
.homepage .box-section.horizontal-list .inner > .row > * svg {
  height: 3.5rem;
  width: 3.5rem;
  fill: var(--light);
  margin-bottom: 0.75rem;
}
.homepage .box-section.horizontal-list .inner > .row > * p {
  font-size: 0.9rem;
  opacity: 0.85;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-top: 0.5rem;
}
.homepage .box-section.guess-by {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/bg3.jpg');
}
.homepage .box-section.guess-by .inner > h1 {
  font-size: 1.75rem;
  opacity: 0.9;
  line-height: 1.35;
  margin-bottom: 1.75rem;
  text-align: center;
}

.homepage .box-section + hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid var(--darkdark);
}

/* grid list will be 3 per row */
.homepage .box-section.grid-list .inner {
  padding: 1.5rem;
  border-radius: 6px;
}
.homepage .box-section.grid-list .inner > .grid {
  display: block;
  max-width: 50rem;
  margin: 0 auto;
}
.homepage .box-section.grid-list .inner > .grid > * {
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  width: 33.333%;
  float: left;
  text-align: center;
  align-items: center;
}
.homepage .box-section.grid-list .inner > .grid > *:not(:nth-child(3n)) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.homepage .box-section.grid-list .inner > .grid > *:not(:nth-last-child(-n + 3)) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.homepage .box-section.grid-list .inner > .grid > * p {
  font-size: 0.9rem;
  opacity: 0.85;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-top: 0.5rem;
}
.homepage .box-section.grid-list .inner > .grid > * svg {
  height: 3.5rem;
  width: 3.5rem;
  fill: var(--light);
  margin-bottom: 0.75rem;
}

.homepage .box-section.leagues-list {
  text-align: center;
  margin-bottom: 2.75rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../assets/bg1.jpg');
  position: relative;
}
.homepage .box-section.leagues-list .inner > h1 {
  font-size: 2rem;
  padding-top: 1rem;
}
.homepage .box-section.leagues-list .leagues-container {
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}
.homepage .box-section.leagues-list .leagues-container > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  opacity: 0.6;
  transition: opacity 0.2s;
  cursor: pointer;
}
.homepage .box-section.leagues-list .leagues-container > button.disabled {
  opacity: 0.2;
  touch-action: none;
  pointer-events: none;
}
.homepage .box-section.leagues-list .leagues-container > button:hover {
  opacity: 1;
}
.homepage .box-section.leagues-list .leagues-container > button.left {
  left: 0;
}
.homepage .box-section.leagues-list .leagues-container > button.right {
  right: 0;
}
.homepage .box-section.leagues-list .leagues {
  --box-width: 20rem;
  --box-margin: 2rem;
  width: calc(var(--box-width) * 3 + var(--box-margin) * 2);
  overflow-x: hidden;
  white-space: nowrap;
  margin: 0 auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 1175px) {
  .homepage .box-section.leagues-list .leagues {
    overflow-x: scroll;
  }
  .homepage .box-section.leagues-list .leagues-container > button {
    display: none;
  }
}
@media only screen and (max-width: 1150px) {
  .homepage .box-section.leagues-list .leagues {
    width: calc(var(--box-width) * 2 + var(--box-margin));
  }
}
@media only screen and (max-width: 740px) {
  .homepage .box-section.leagues-list .leagues {
    --box-width: 100%;
    width: var(--box-width);
  }
}
.homepage .box-section.leagues-list .leagues > * {
  width: var(--box-width);
  display: inline-block;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  white-space: normal;
  scroll-snap-align: start;
}
.homepage .box-section.leagues-list .leagues > *:hover {
  backdrop-filter: none;
}
.homepage .box-section.leagues-list .leagues > *:not(:last-child) {
  margin-right: var(--box-margin);
}

.homepage .box-section.column.bottom a > * {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 950px) {
  .homepage .box-section {
    padding: 1rem !important;
    flex-direction: column;
    zoom: 90%;
  }
  .homepage .box-section.horizontal-list {
    background-attachment: initial;
  }
  .homepage .box-section.horizontal-list .inner > .row {
    flex-direction: column;
  }
  .homepage .box-section.horizontal-list .inner > .row > * p,
  .homepage .box-section.grid-list .inner > .grid > * p {
    margin-top: 0.25rem;
  }
  .homepage .box-section.grid-list .inner > .grid > * p {
    height: 2.5rem;
  }
  .homepage .box-section.grid-list .inner > .grid {
    zoom: 80%;
  }
  .homepage .box-section.horizontal-list .inner > .row > *:not(:last-child) {
    margin-bottom: 2.5rem;
    zoom: 90%;
  }
  .homepage .box-section > *:not(.inner) {
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .homepage .box-section .left {
    display: none !important;
  }
  .homepage .box-section.column.bottom .row {
    flex-direction: column;
  }
  .homepage .box-section.column.bottom .row > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .homepage .box-section .right > h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .homepage .box-section.column > h1 {
    text-align: left;
  }
  .homepage .box-section .playbutton .icon {
    display: none;
  }
}
