.details-section {
  background-color: var(--darker);
  margin-bottom: 1.25rem;
  display: flex;
}
.details-section .details-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  text-align: center;
}
.details-section .left {
  margin-right: 1.25rem;
  flex: 0 0 auto;
}

.details-section .right {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details-section .right > * {
  flex: 0 0 auto;
}
.details-section table {
  margin-bottom: 0;
}
.details-section.blurred table {
  user-select: none;
}
.details-section.blurred table tbody {
  filter: blur(8px);
  transition: filter 0.2s;
}
.details-section.blurred table .nationality img {
  display: none;
}
@media only screen and (max-width: 800px) {
  .details-section .left,
  .details-section .team-information {
    display: none !important;
  }
  .details-section {
    padding: 1rem;
  }
}
@media only screen and (max-width: 1150px) {
  .details-section {
    flex-direction: column;
  }
  .details-section .left {
    margin-right: 0;
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .details-section .left table {
    width: auto !important;
    min-width: 0;
    margin: 0 auto;
  }
}

.details-section .how-to > *:not(h1) {
  font-size: 1rem;
  opacity: 0.8;
  line-height: 1.5;
}
.details-section .how-to > *:not(h1):not(:last-child) {
  margin-bottom: 1rem;
}
.details-section .how-to ul {
  padding-left: 2.5rem;
  margin-top: 0;
}
.details-section .how-to ul li:not(:last-child) {
  margin-bottom: 0.25rem;
}
