.auth-modal-component .inner > h1 {
  font-size: 2.5rem;
}
.auth-modal-component .inner > h1 i {
  opacity: 0.7;
  transform: scale(0.6);
  margin-left: -1rem;
  margin-right: 0.15rem;
}

.auth-modal-component .inner > h1,
.auth-modal-component .inner > p {
  text-align: center;
}

.auth-modal-component .inner > p {
  margin-top: 0.25rem;
  opacity: 0.8;
}
.auth-modal-component .inner > p,
.auth-modal-component .inner > p * {
  font-size: 1rem;
  line-height: 1.5;
}

.auth-modal-component .inner > p button {
  border-bottom: 1px dotted var(--primary);
  color: var(--primary);
  cursor: pointer;
  opacity: 0.85;
}
.auth-modal-component .inner > p button:hover {
  border-bottom-style: solid;
  opacity: 1;
}

.auth-modal-component .inner form {
  margin-top: 0.5rem;
}

.auth-modal-component .inner form > .error {
  color: var(--light);
  text-align: center;
  font-weight: 600;
  font-size: 0.85rem;
  padding: 0.2rem 0.5rem;
  background-color: var(--danger);
  border-radius: 4px;
  margin-top: 0.5rem;
  opacity: 0.75;
}

.auth-modal-component .inner form .input-container {
  display: flex;
  flex-direction: column-reverse;
}
.auth-modal-component .inner form .input-container > * {
  width: 100%;
  flex: 1 1 auto;
}
.auth-modal-component .inner form .input-container label {
  font-size: 0.9rem;
  opacity: 0.8;
  padding: 0.5rem 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.auth-modal-component .inner form .input-container input {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  font-size: 1.1rem;
  transition: border-color 0.2s;
  position: relative;
}
.auth-modal-component .inner form .input-container input:focus {
  border-color: rgba(255, 255, 255, 0.65);
}
.auth-modal-component .inner form .input-container input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.auth-modal-component .inner form .input-container input:not(:placeholder-shown) + label {
  opacity: 1;
}

.auth-modal-component .inner form[slide='1'] .input-container:not(:nth-child(2)) {
  display: none;
}
.auth-modal-component .inner form[slide='0'] .input-container:not(:nth-child(1)) {
  display: none;
}

.auth-modal-component .inner form .slides-btn-container {
  margin-top: 2rem;
}
.auth-modal-component .inner form .slides-btn-container > * {
  width: auto;
  float: left;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  box-shadow: none;
}
.auth-modal-component .inner form .slides-btn-container > *[disabled] {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
/* .auth-modal-component .inner form .slides-btn-container > .slide-counter {
  font-size: 0.85rem;
  opacity: 0.75;
}
.auth-modal-component .inner form .slides-btn-container > .slide-counter, */
.auth-modal-component .inner form .slides-btn-container > .next-btn {
  float: right;
}
