.pitch-component {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  --line-color: rgba(255, 255, 255, 0.5);
  --line-size: 0.15rem;
}
.pitch-component * {
  position: absolute;
}
.pitch-component .midline {
  border-top: var(--line-size) solid var(--line-color);
  top: 50%;
  left: 0;
  width: 100%;
}
.pitch-component .circle {
  border-radius: 50%;
  border: var(--line-size) solid var(--line-color);
}

.pitch-component .circle.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
}
.pitch-component .circle.dot {
  border: none;
  height: 0.5rem;
  width: 0.5rem;
  transform: translate(-50%, -50%);
  background-color: var(--line-color);
}

.pitch-component .gk.box {
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 7.5rem;
  border: var(--line-size) solid var(--line-color);
  border-top: none;
}
.pitch-component .gk.box.top {
  top: 0;
}
.pitch-component .gk.box.bottom {
  bottom: 0;
  transform: translateX(-50%) rotateX(180deg);
}

.pitch-component .gk.box.small {
  height: 3.5rem;
  width: 7.5rem;
}
.pitch-component .gk.dot {
  left: 50%;
}
.pitch-component .gk.dot.top {
  top: 5.25rem;
}
.pitch-component .gk.dot.bottom {
  bottom: 5.25rem;
}
.pitch-component .line {
  width: 100%;
}
.pitch-component .line.odd {
  background-color: var(--primary);
}
.pitch-component .line.even {
  background-color: var(--slightlydarkprimary);
}
.pitch-component .overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.pitch-component .site-title {
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  opacity: 0.85;
}
