.navbar-container {
  --height: 3.5rem;
  height: var(--height);
  background-color: var(--darker);
}
.navbar {
  height: 100%;
}
.navbar * {
  user-select: none;
}
.navbar .left,
.navbar .right {
  display: block;
  height: var(--height);
  width: auto;
  float: left;
}
.navbar .right {
  float: right;
}
.navbar .link {
  height: 2.2rem;
  margin: calc((var(--height) - 2.2rem) / 2) 0;
  cursor: pointer;
  padding: 0 0.5rem;
  position: relative;
  z-index: 1;
}
.navbar .link:before {
  content: '';
  position: absolute;
  transition: background-color 0.2s, transform 0.2s;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 3px;
  backface-visibility: hidden;
  transform: scale(0.9);
}
.navbar .link:hover:before {
  transform: scale(1);
  background-color: rgba(39, 174, 96, 0.5);
}
.navbar .link.active:before {
  background-color: rgba(39, 174, 96, 0.75);
  transform: scale(1.025, 1.1);
}
.navbar .link:active:before {
  transform: scale(1.05, 1.15);
  background-color: rgba(39, 174, 96, 0.85);
}
.navbar .link span {
  line-height: 2.2rem;
  display: inline-block;
  vertical-align: top;
  font-size: 1.35rem;
  font-weight: 600;
}
.navbar .link .text {
  font-size: 1.05rem;
}
.navbar .link.logo span {
  font-size: 1.5rem;
  font-weight: 700;
}
.navbar .link.logo .text {
  font-size: 1.15rem;
}

.navbar .link:not(.logo) {
  transform: scale(0.9);
}
