.navbar-container {
  --height: var(--nav-height);
  height: var(--height);
}
.navbar {
  height: 100%;
  width: 100%;
}
.navbar * {
  user-select: none;
}
.navbar .left,
.navbar .right {
  display: block;
  height: var(--height);
  width: auto;
  float: left;
}
.navbar .right {
  float: right;
}
