.navbar-container {
  --height: 3.5rem;
  height: var(--height);
  background-color: var(--darker);
}
.navbar {
  height: 100%;
}
.navbar * {
  user-select: none;
}
.navbar .left,
.navbar .right {
  display: block;
  height: var(--height);
  width: auto;
  float: left;
}
.navbar .right {
  float: right;
}
