.leaderboard-page {
  margin-bottom: 2rem;
  min-height: calc(100vh - var(--nav-height) - 3.25rem);

  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5rem !important;
}

.leaderboard-page > .description {
  text-align: center;
  margin: 0.5rem 0 1.75rem 0;
  opacity: 0.75;
}
.leaderboard-page > .description,
.leaderboard-page > .title {
  flex: 0 0 auto;
}

.leaderboard-page table {
  margin-bottom: 0;
}
.leaderboard-page table .username {
  font-weight: 600;
}
.leaderboard-page table tbody tr {
  transition: background-color 0.25s;
  cursor: pointer;
}
.leaderboard-page table tr:hover {
  background-color: var(--dark);
}
.leaderboard-page table tr:hover .username {
  text-decoration: underline;
}

.leaderboard-page table td {
  position: relative;
}
.leaderboard-page table i {
  position: absolute;
  height: 1.45rem;
  line-height: 1.45rem;
  left: 0.75rem;
  font-size: 1.15rem;
  top: 50%;
  transform: translateY(-50%);
  --fill-color: var(--dark);
  color: var(--fill-color);
}
.leaderboard-page table i.trophy_1 {
  --fill-color: #ffd700;
}
.leaderboard-page table i.trophy_2 {
  --fill-color: #c0c0c0;
}
.leaderboard-page table i.trophy_3 {
  --fill-color: #cd7f32;
}
@media only screen and (max-width: 63rem) {
  .leaderboard-page table td:nth-child(4),
  .leaderboard-page table td:nth-child(5),
  .leaderboard-page table th:nth-child(4),
  .leaderboard-page table th:nth-child(5) {
    display: none;
  }
  .leaderboard-page table i {
    display: none;
  }
}
