.footer {
  background-color: var(--darker);
  width: 100%;
  position: relative;
  padding: 1rem 0;
  overflow: hidden;
}
.footer .link {
  color: var(--primary);
  border-bottom: 1px solid var(--primarytransparent);
  text-decoration: none;
  cursor: pointer;
  transition: border-color 0.2s, filter 0.2s;
  font-weight: 500;
}
.footer .link:hover {
  filter: brightness(120%);
  border-color: var(--primary);
}
.footer .top {
  margin-bottom: 1rem;
  display: block;
  clear: both;
  overflow: hidden;
}
.footer .top .left {
  float: left;
}
.footer .top .left .logo {
  height: 2rem;
  line-height: 2rem;
  font-size: 1.35rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  cursor: pointer;
}
.footer .top .left .logo > * {
  display: inline-block;
  vertical-align: middle;
}
.footer .top .left .logo .icon {
  font-size: 1.75rem;
  margin-right: 0.75rem;
}
.footer .top .right {
  float: right;
  font-size: 0;
}
.footer .top .right > * {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.25rem;
  display: inline-block;
}
.footer .top .right > *:not(:last-child) {
  margin-right: 0.75rem;
}

.footer .center {
  display: block;
  clear: both;
}

.footer .center p {
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.65;
}
.footer .center p:not(:last-child) {
  margin-bottom: 0.35rem;
}
.footer .center p.big {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 0.75rem;
}

@media only screen and (max-width: 800px) {
  .footer .top .right {
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  .footer .top .right > * {
    width: calc((100% - 0.75rem) / 2);
    font-size: 0.9rem;
    text-align: left;
  }
  .footer .top .right > *:nth-child(even) {
    margin-right: 0;
  }
  .footer .top {
    margin-bottom: 1.75rem;
  }
  .footer .center {
    opacity: 0.8;
  }
  .footer .center p {
    text-align: left;
    opacity: 0.8;
  }
}
