.cookies-banner-component {
  padding: 0.65rem 0;
  background-color: var(--darkdark);
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 99999999999;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
}
.cookies-banner-component.hidden {
  opacity: 0;
  transform: translateY(100%);
  box-shadow: none;
}
.cookies-banner-component button {
  --inner-height: 2.5rem;
  height: var(--inner-height);
  margin: calc((var(--height) - var(--inner-height)) / 2) 0;
  cursor: pointer;
  padding: 0 0.9rem;
  position: relative;
  z-index: 1;
  user-select: none;
  transition: background-color 0.2s;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 500;
}
.cookies-banner-component button:not(:last-child) {
  margin-right: 0.5rem;
}
.cookies-banner-component button i {
  margin-right: 0.5rem;
}
.cookies-banner-component button.accept {
  background-color: var(--primary);
}
.cookies-banner-component button.accept:hover {
  background-color: var(--darkprimary);
}
.cookies-banner-component button.leave {
  background-color: var(--lightdark);
}
.cookies-banner-component button.leave:hover {
  background-color: var(--danger);
}
.cookies-banner-component > div > div {
  display: flex;
}

.cookies-banner-component .left {
  flex: 1 1 100%;
  font-size: 0.85rem;
  line-height: 1.5;
  opacity: 0.8;
}
.cookies-banner-component .left p {
  max-width: 600px;
}
.cookies-banner-component .right {
  flex: 0 0 auto;
}
@media only screen and (max-width: 800px) {
  .cookies-banner-component > div > div {
    flex-direction: column;
    align-items: center;
  }
  .cookies-banner-component .left {
    font-size: 0.65rem;
  }
  .cookies-banner-component .right {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
    zoom: 90%;
  }
  .cookies-banner-component .right > * {
    flex: 1 1 auto;
  }
}
